{% extends "encyclopedia/layout.html" %}


{% block body %}

<style>
    #title{
        margin-top: 20px;
        margin-left: 50px;
        width: 1000px;
        height: 40px;
        background-color:gainsboro;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
    #info{
        margin-top: 10px;
        margin-left: 50px;
        width: 1000px;
        height: 550px;
        background-color:gainsboro;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }
    #save{
        padding: 7px;
        border-radius: 5px;
        background-color: gainsboro;
        border: none;
        margin-top: 10px;
        margin-left: 50px;
    }
    #save:hover{
        padding: 7px;
        background-color: aquamarine;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 50px;
    }
    #in{
         margin-left: 50px;
         margin-top: 20px;
    }
</style>
    {% block head %}
    <h2 style="margin-left:50px">Edit Entry</h2>
    {% endblock %}

    
     <form action="{% url 'edit_entry' %}" method="POST">
         {% csrf_token %}
         <textarea name="e_title" id="title" >{{head}}</textarea>
         
         <textarea name="e_info" id="info" cols="30" rows="10" placeholder="Edit info">{{info}}</textarea> <br>
         <input type="submit" id="save"  >
          
         
     </form>
     
      
{% endblock %}