{% extends "auctions/layout.html" %}

{% block body %}

{% for i in personal %}
 
<a href="listing/{{i.item_name}}">{{i.item_name}}</a> <span>     {% if i.item_active %}
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
    <path fill="#00FF00" d="M8 4c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4z"></path>
    <path fill="#00FF00" d="M8 1c3.9 0 7 3.1 7 7s-3.1 7-7 7-7-3.1-7-7 3.1-7 7-7zM8 0c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8v0z"></path>
    </svg>
  {% else %}
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
    <path fill="#FF0000" d="M8 4c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4z"></path>
    <path fill="#FF0000" d="M8 1c3.9 0 7 3.1 7 7s-3.1 7-7 7-7-3.1-7-7 3.1-7 7-7zM8 0c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8v0z"></path>
    </svg>
    {% endif %}</span>
   <ul>
       
    <li>$ {{i.bid_price}} </li>
    <li>{{i.item_description}}</li>
    {% if i.current_price == 0.0 %}
       <li>No Bids Yet</li>
    {% else %}
        <li>$ {{i.current_price}}</li>
    {% endif %}
    <li><form action="{% url 'edit_details'%}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{i.item_name}}" name="edit">
        <button type="submit" class="btn btn-primary"  >Edit details</button>
    </form></li>

   
    </ul>
    
    
    
{% endfor %}
{% endblock %}