{% extends "auctions/layout.html" %}

{% block body %}
   
     {% for i in item%}

          <a href="listing/{{i.item.item_name}}">{{i.item.item_name}} </a><br>
          Created by: {{i.item.created_by}}<br>
          {% if i.item.current_price %}

          Current Price: {{i.item.current_price}} <br>
          {% else %}
          Current Price: No Bidding Yet <br>
          {% endif %}
          <form action="{% url 'remove' %}" method="POST">
               {% csrf_token %}
        <input type="hidden" name="removefromwatchlist" value={{i.id}} >
        <button type="submit" class="btn btn-primary"  >Remove from Watchlist</button>
          </form>
          <br> 
     {% endfor %}
      

{% endblock %}